__pycache__
tg-bot/__pycache__
tg-bot/Photos
tg-bot/Documents
tg-bot/config_dev.py
.env
.env.prod
*.env
sessions
venv
Photos
Documents
data
nextcloud
ftp-server
start_service.sh
stop_service.sh
**/first_token