# Игнорировать файлы окружения
.env
*.env
.idea
# Игнорировать служебные папки
.git/
.idea/
.ipynb_checkpoints/
.venv/
__pycache__/
data
sessions
*.rar
*.ipynb
*.py[cod]
*.so
*.egg-info/
dist/
build/
.idea/
*.iml
misc.xml
modules.xml
workspace.xml